body{
    background-position: center top;
    background-repeat: repeat;
    background-size: contain;
}
th{
    background-color: black;
    border-color: white;
    color: white;
    /**background-color: white;**/
    border-style: solid;
    border-width: 1px;
    padding: 5px;
}
button{
    background-color: black;
    border-color: white;
    color: white;
}
h2{
    color: black;
}
select{
    background-color: black;
    border-color: white;
    color: white;
}
div{
    background-color: black;
    border-color: white;
    color: white;
    /**background-color: white;**/
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    display: inline-block;
}
textarea{
    position: fixed;
    left: 80%;
    top: 5%;
    background-color: black;
    border-color: white;
    color: white;
}
